/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.o
*.log
*py*
test

.vscode

ext/lz77-konami/.sitearchdir.-.lz77.-.konami.-.lz77.time
ext/lz77-konami/Makefile
*.bundle
mkmf.log
